@charset "UTF-8";


*{
    padding: 0px;
    margin: 0px;

}

#header{
    background-color:#9c6ffc ;
    box-sizing: border-box;
    height: 100px;
    display: flex;
    padding: 10px;
    align-items: center;
    border: dotted black 2px;
    justify-content: space-between;
    
}

#menu {
    display: flex;
    gap: 16px;
    list-style: none;
    justify-content: space-evenly;
    


}

#menu  a {
    display: block;
    padding: 10px;
    text-decoration: none;
} 
#btn-mobile {
    display: none;

}
/* configuração menu hamburguer*/
@media (max-width:600px){
    #btn-mobile {
        display: flex;
        padding: 0.5em  ;
        font-size: 1em;
        border-radius: 5px;
        border: none;
        cursor: pointer;
        background-color: #9c6ffc;
    }
    #menu {
        display: block;
        position: absolute;
        width: 100%;
        top: 70px;
        right: 0px;
        z-index: 1000;
        transition: 1s;
        background-color: #9c6ffc;
        visibility: hidden;
        height: 0px;
        overflow-y: hidden;
    }
    #nav.active  #menu {
        height: calc(100vh - 70px);
        visibility: visible;
        overflow-y: auto;
        margin: 10px 0;
    }
    #nav.active  #menu::after{
        height: calc(100vh - 70px);
        visibility: visible;
        overflow-y: auto;
    }
    #menu a {
        font-size: 1.2em;
        color: black;
        font-weight: bold;
        margin: 0 1em;
        padding: 1em 0;
        border-bottom: 2px solid rgba(0, 0, 0, 0.199);
    }
    #menu a:hover{
        background-color: aliceblue;
        transition: 0.8s;
        font-size: 2em;
        border-radius: 10px;
        padding: 10px;
        margin: 10px;
    }
}
/*Seção Sobre Nós*/

#sobrenos{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}
#sobre{
    margin: 20px;
    width: 420px;
}
#sobre h1 {
    text-align: center;
    font-size: 1.9em;
    background-image: linear-gradient(to right, rgba(113, 6, 236, 0.205) 100%, rgba(255, 255, 255, 0.459));
    padding: 5px;
    border-radius: 5px;
    margin: 10px 0px;

}
#sobre p {
    font-size: 1.05em;
    text-align: justify;
    text-indent: 20px;
}
#criaça{
    width: 400px;
}
/*Seção Equipe*/
#equipe {
    text-align: center;
    margin: 20px;
}
#equipe h2{
    text-align: center;
    font-size: 1.9em;
    background-image: linear-gradient(to right, rgba(113, 6, 236, 0.205) 100%, rgba(255, 255, 255, 0.459));
    padding: 5px;
    border-radius: 5px;
    margin: 10px 0px;
}
#eqp {
    margin: 20px 0px ;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}
#eqp img {
    width: 130px;
    margin: 10px;
}
#eqp p {
    font-size: 1.5em;
    font-weight: bold;
}
#Carrossel {
    background-color: aqua;
}
#matriculas{
    background-color: burlywood;
}
