#eventos{
background-color: aquamarine;
    
    .imagem{ 
        border: 1 dotted black;
        background-color: azure;
        display: flex;
        justify-content: center;
        
        
    } 
    
    
}