#perguntas{
    .acordion{
        border: 2px  dotted  black ;
    }
    
}

.conteudo-faq{
        height: 0px;
        overflow: hidden;
        transition: height  0.5s ease-in-out;
    }
.conteudo-faq.active{
        height: 50px;
        
}

    