#sobre{
    padding-top: 32px;
    .conteudo-sobre{
        padding: 10px;
        max-width: 500px;
        width: 100%;
        p{
            text-indent: 16px;
            text-align: justify;
        }
        img{
            max-width: 400px;
        }
    }
}